:root {
	--body-color: lime;
	--body-bg-color: black;
	--bold-color: white;
	--emphasis-color: lightgrey;
	--warning-color: orange;
	--error-color: red;
	--success-color: white;
	--debug-color: yellow;
}